# Core Data Handling & ML
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
faiss-cpu==1.8.0

# Web Application Framework
# streamlit is removed as it's installed automatically by Streamlit Cloud

# NLP & Language Models
# Pinning spacy and its dependencies to versions with pre-compiled wheels
spacy==3.7.5
blis==0.7.11
catalogue==2.0.10
confection==0.1.4
cymem==2.0.8
murmurhash==1.0.10
preshed==3.0.9
srsly==2.4.8
thinc==8.2.3
wasabi==1.1.2

sentence-transformers==2.7.0
google-generativeai==0.7.1

# Core dependencies for models
torch==2.3.0
transformers==4.41.2

# spaCy model for Stage 2 Normalization
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889